<div class="container">
<div class="row">
<table class="table table-bordered text-center" style="height: 100px;">
      <thead class="thead thead-dark">
        <tr>
          <th class="align-middle">投稿</th>
          <th class="align-middle">気温</th>
          <th class="align-middle">天気</th>
          <th class="align-middle">降水確率</th>
        </tr>
      </thead>
      <tbody>
        <% @clothes.each do |c| %>
        	<div class="row" style="margin:10px 0;">
	            <div class="col-3">
		          <tr>
		            <td class="align-middle"><%= attachment_image_tag c, :clothes_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
		            <td class="align-middle"><%= c.temperature %></td>
		            <td class="align-middle"><%= c.weather %></td>
		            <td class="align-middle"><%= c.rainy_percent %><span>%</span></td>
		          </tr>
		      	</div>
	  		</div>
        <% end %>
    </tbody>
</table>
	<div class="weather">
	    <h3>世界の天気</h3>
	      <label>都市名：</label>
	        <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
	        <button id="btn">検索</button><br>
	       <span>場所 :</span>
	       <span id="place"></span><br>
	       <span>最高気温 :</span>
	       <span id="temp_max"></span>
	       <span> ℃</span><br>
	       <span>最低気温 :</span>
	       <span id="temp_min"></span>
	       <span> ℃</span><br>
	       <span>湿度 :</span>
	       <span id="humidity"></span>
	       <span> %</span><br>
	       <span>風速 :</span>
	       <span id="speed"></span>
	       <span> m/s</span><br>
	       <span>天気 :</span>
	       <span id="weather"></span>
	       <div id="icon"><img id="img"></div>
	        <script src="weather.js"></script>
	</div>
	</div>
</div>